<div class="container">
  <div class="card">
    <h1 class="text-center card-header">Cadastro de Normas</h1>

    <div class="card-header">
      <form [formGroup]="formGroup">
        
        
        <div class="form-group row">
          <div class="col-md-4">
            <label for="codigoNorma">Código da Norma</label>
            <input type="text" 
                class="form-control" 
                formControlName="codigoNorma" 
                id="codigoNorma" 
                aria-describedby="codigoNorma" 
                placeholder="Código da Norma">    
          </div>
          <div class="col-md-4">
            <label for="tipoDocumento">Tipo Documento</label>
            <select class="form-control" id="tipoDocumento" formControlName="tipoDocumento">
                <option value=""></option>
                <option *ngFor="let tipoDocumento of listaTiposDocumento" [ngValue]="tipoDocumento?.id">{{tipoDocumento?.descricao}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="orgaoExpedidor">Orgão Expedidor</label>
            <select class="form-control" id="orgaoExpedidor" formControlName="orgaoExpedidor">
              <option value=""></option>
              <option *ngFor="let orgaoExpedidor of listaOrgaosExpedidores" [ngValue]="orgaoExpedidor?.id">{{orgaoExpedidor?.descricao}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label for="dataPublicacao">Data Publicação</label>
            <input type="date" 
                class="form-control" 
                formControlName="dataPublicacao" 
                id="dataPublicacao" 
                aria-describedby="dataPublicacao" 
                placeholder="Data de Publicação">
          </div>
          
          <div class="col-md-4">
            <button class="btn btn-warning btn-criacao col-md-12" (click)="buscarNormas()">Pesquisar</button>  
          </div>
          <div class="col-md-4">
            <a *ngIf="ehAnalista()" href="#" routerLink="/normas/Criacao" class="btn btn-success btn-criacao col-md-12">Criar Norma</a>
          </div>
        </div>
      </form>
    </div>

    <div class="table-responsive card-body">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Codigo Norma</th>
            <th scope="col">Tipo Documento</th>
            <th scope="col">Orgao Expedidor</th>
            <th scope="col">Data Publicacao</th>
            <th scope="col">Arquivo</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let norma of listaNormas">
            <th scope="row">{{ norma.id }}</th>
            <td>{{ norma.codigoNorma }}</td>
            <td>{{ norma.tipoDocumento?.descricao }}</td>
            <td>{{ norma.orgaoExpedidor?.descricao }}</td>
            <td>{{ norma.dataPublicacao | date: 'dd/MM/yyyy' }}</td>
            
            <td>
              <a *ngIf="norma.externa == 'S'" class="btn btn-primary" href="{{ norma.localArquivoNormas }}" target="_blank">Abrir Norma</a>
              <a *ngIf="norma.externa != 'S'" class="btn btn-primary" (click)="buscarArquivoPorId(norma.id)">Abrir Norma</a>
            </td>
            <td>
              <a href="#" [routerLink]="['/normas/Visualizacao/', norma.id]" class="btn btn-info">Visualizar</a>
              <a *ngIf="ehAnalista()" href="#" [routerLink]="['/normas/Atualizacao/', norma.id]" class="btn btn-primary">Editar</a>
              <button *ngIf="ehAnalista()" type="button" (click)="abrirModalExclusaoNorma(modalExclusao, norma.id, norma.codigoNorma)" class="btn btn-danger">Excluir</button>  <!--(click)="deletePost(norma.id)" -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modalExclusao let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Exclusão de norma</h4>
  </div>
  <div class="modal-body">
    <p>Deseja realmente excluir a norma {{codigoNormaExclusao}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.close(true)">Excluir</button>
    <button type="button" class="btn btn-primary" (click)="modal.close(false)">Cancelar</button>
  </div>
</ng-template>