<div class="container">
    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
            <h5 class="card-title">Cadastro de Normas</h5>
            <p class="card-text">Aplicação para realizar cadastro, edição, visualização e remoção de normas.</p>
            <a href="/normas" class="btn btn-primary stretched-link">Cadastro Normas</a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
            <h5 class="card-title">Cadastro de Orgãos Expedidores</h5>
            <p class="card-text">Aplicação para realizar cadastro, edição, visualização e remoção de orgãos expedidores.</p>
            <a href="/orgaoexpedidor" class="btn btn-primary stretched-link">Cadastro Orgãos Expedidores</a>
            </div>
        </div>
        
        <div class="card mb-4">
            <div class="card-body">
            <h5 class="card-title">Cadastro de Tipos de Documento</h5>
            <p class="card-text">Aplicação para realizar cadastro, edição, visualização e remoção de tipos de documento.</p>
            <a href="/tipodocumento" class="btn btn-primary stretched-link">Cadastro Tipos Documento</a>
            </div>
        </div>
    </div>
</div>

