<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="user">
  
  <a class="navbar-brand" href="#">Módulo de Normas</a>
  
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-3">
      <li class="nav-item dropdown active" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" ngbDropdownToggle>Cadastros</a>
        <div class="dropdown-menu dropdown-primary" ngbDropdownMenu>
          <a class="dropdown-item" href="/normas">Normas</a>
          <a class="dropdown-item" href="/tipodocumento">Tipos Documento</a>
          <a class="dropdown-item" href="/orgaoexpedidor">Orgãos Expedidores</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-3">
      <li class="nav-item dropdown active" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" ngbDropdownToggle>Plano de Ações</a>
        <div class="dropdown-menu dropdown-primary" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Projetos</a>
          <a class="dropdown-item" href="#">Planos</a> 
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-3">
      <li class="nav-item dropdown active" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" ngbDropdownToggle>Dashboards</a>
        <div class="dropdown-menu dropdown-primary" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Normas</a>
          <a class="dropdown-item" href="#">Projetos</a>
          <a class="dropdown-item" href="#">Planos</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-3">
      <li class="nav-item dropdown active" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" ngbDropdownToggle>Relatórios</a>
        <div class="dropdown-menu dropdown-primary" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Normas</a>
          <a class="dropdown-item" href="#">Projetos</a>
          <a class="dropdown-item" href="#">Planos</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown active" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" ngbDropdownToggle>{{user?.nome}}</a>
        <div class="dropdown-menu dropdown-primary dropdown-menu-right" ngbDropdownMenu>
          <span class="dropdown-item">{{user?.papel}}</span>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>