<div class="container">
    <h2 class="text-center">Visualizar Norma</h2>

    <form [formGroup]="formGroup">
        <div class="form-group row">
            <div class="col-md-6">
                <fieldset disabled>
                    <div class="form-group">
                        <label for="id">ID Norma</label>
                        <input type="text" 
                               id="id" 
                               class="form-control" 
                               formControlName="id" >
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <label for="codigoNorma">Código da Norma</label>
                <input type="text" 
                       class="form-control" 
                       formControlName="codigoNorma" 
                       id="codigoNorma" 
                       aria-describedby="codigoNorma"
                       disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="descricaoNorma">Descrição</label>
            <input type="text" 
                   class="form-control" 
                   formControlName="descricao" 
                   id="descricaoNorma" 
                   aria-describedby="descricaoNorma"
                   disabled>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label for="tipoDocumento">Tipo Documento</label>
                <select class="form-control" id="tipoDocumento" formControlName="tipoDocumento" disabled>
                    <option value=""></option>
                    <option *ngFor="let tipoDocumento of listaTiposDocumento" [ngValue]="tipoDocumento?.id">{{tipoDocumento?.descricao}}</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="orgaoExpedidor">Orgão Expedidor</label>
                <select class="form-control" id="orgaoExpedidor" formControlName="orgaoExpedidor" disabled>
                    <option value=""></option>
                    <option *ngFor="let orgaoExpedidor of listaOrgaosExpedidores" [ngValue]="orgaoExpedidor?.id">{{orgaoExpedidor?.descricao}}</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="dataPublicacao">Data Publicação</label>
                <input type="date" 
                       class="form-control" 
                       formControlName="dataPublicacao" 
                       id="dataPublicacao" 
                       aria-describedby="dataPublicacao"
                       disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="resumo">Resumo</label>
            <textarea class="form-control" formControlName="resumo" id="resumo" rows="3" maxlength="250" disabled></textarea>
        </div>

        <div class="form-group">
            <label for="observacao">Observações</label>
            <textarea class="form-control" formControlName="observacao" id="resumo" rows="3" maxlength="250" disabled></textarea>
        </div>

        <div class="row">
            <div class="col-md-6 text-center">
                <a class="btn btn-primary col-md-6" [href]="formGroup.controls.arquivoNorma.value" target="_blank">Abrir Norma</a>
            </div>

            <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-danger col-md-6" (click)="voltar()">Voltar</button>
            </div>
        </div>
    </form>
</div>